{% extends "@ContaoCore/Backend/be_page.html.twig" %}

{% block headline %}
    FTP Verbindungen - Hinzufügen
{% endblock %}


{% block error %}
{% endblock %}



{% block main %}
    <div class="tl_listing_container">

        <div>
            <form method="post" action="">
            	<select>
            		{% for ftpProtocols in ftpProtocol %}
            			<option>{{ftpProtocol.title}}</option>
            		{% endfor %}
            	</select>
            	<input type="text" name="Name"/><br/>
            	<input type="text" name="Beschreibung"/><br/>
            	<input type="text" name="Server"/><br/>
            	<input type="text" name="Port"/><br/>
            	<input type="text" name="User"/><br/>
            	<input type="text" name="Password"/><br/>
            </form>
        </div>

    </div>
{% endblock %}