{% extends "@ContaoCore/Backend/be_page.html.twig" %}

{% block headline %}
    FTP Verbindungen - Hinzufügen
{% endblock %}


{% block error %}
{% endblock %}



{% block main %}
    <div class="tl_listing_container">

        <div>
            <form method="post" action="">
            	Protokoll
{#             	<select>
            		{% for ftpProtocols in ftpProtocol %}
            			<option>{{ftpProtocol.title}}</option>
            		{% endfor %}
            	</select><br/> #}
            	Name<input type="text" name="name"/><br/>
            	Beschreibung<input type="text" name="beschreibung"/><br/>
            	Server<input type="text" name="server"/><br/>
            	Port<input type="text" name="port"/><br/>
            	User<input type="text" name="user"/><br/>
            	Password<input type="text" name="password"/><br/>
            </form>
        </div>

    </div>
{% endblock %}