{% extends "@ContaoCore/Backend/be_page.html.twig" %}

{% block headline %}
    FTP Verbindungen
{% endblock %}


{% block error %}
{% endblock %}



{% block main %}
    <div class="tl_listing_container">
    <a href="contao/ftp-connections/add">Hinzufügen</a><br/>
    <a href="contao/ftp-connections/list">Liste</a>

    </div>
{% endblock %}