{% extends "@ContaoCore/Backend/be_page.html.twig" %}

{% block headline %}
    FTP Verbindungen
{% endblock %}


{% block error %}
{% endblock %}



{% block main %}
    <div class="tl_listing_container">
    	<div>
    		<button><a href="contao/ftp-connections/edit">Hinzufügen</a><br/></button>
    	</div>
    	<br/>
    	<div>
			{% for ftpConnection in ftpData %}
				<strong>{{ftpConnection.title}}</strong><br/>
				{{ftpConnection.description}}<br/>
				<button><a href="contao/ftp-connections/edit?id={{ftpConnection.id}}">bearbeiten</a></button>
				<button><a href="contao/ftp-connections/delete?id={{ftpConnection.id}}">löschen</a></button>
				<br/><br/>
			{% endfor %}
    	</div>
    </div>
{% endblock %}