{% extends "@ContaoCore/Backend/be_page.html.twig" %}

{% block headline %}
    FTP Verbindungen
{% endblock %}


{% block error %}
{% endblock %}



{% block main %}
    <div class="tl_listing_container">
    	<a href="contao/ftp-connections">zurück</a>

            	
		{% for ftpConnection in ftpData %}
			{{ftpConnection.name}}<br/>
			{{ftpConnection.description}}<br/>
			<br/><br/>
		{% endfor %}

    </div>
{% endblock %}